{% extends 'user/master.twig' %}
{% block content %}

    <!--  BEGIN CONTENT AREA  -->
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Toolbar-->
        <div class="toolbar" id="kt_toolbar">
            <!--begin::Container-->
            <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
                <!--begin::Page title-->
                <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                    <!--begin::Title-->
                    <h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1">Invoice List</h1>

                </div>

            </div>
            <!--end::Container-->
        </div>
        <div class="post d-flex flex-column-fluid" id="kt_post">
            <!--begin::Container-->
            <div id="kt_content_container" class="container-fluid">
                <div id="call-ringing"></div>
                <div id="result"></div>
                <div class="row layout-spacing">
                    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                        <div class="widget-content widget-content-area br-8">
                            <div class="widget-content widget-content-area card">
                                <div class="card-header border-0 pt-6">
                                    <!--begin::Card title-->
                                    <div class="card-title">
                                        <!--begin::Search-->
                                        <div class="d-flex align-items-center position-relative my-1">
                                            <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                                            <span class="svg-icon svg-icon-1 position-absolute ms-6">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
														<rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
														<path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
													</svg>
												</span>
                                            <!--end::Svg Icon-->
                                            <input type="text" data-kt-customer-table-filter="search" id="search" class="form-control form-control-solid w-250px ps-15" placeholder="Search " />
                                        </div>
                                        <!--end::Search-->
                                    </div>

                                </div>
                                <div class="table-responsive">
                                    <table id="table"  class="table dt-table-hover" style="width:100%">
                                        <thead>
                                        <tr>
                                            <th>Invoice Id</th>
                                            <th>Client Detail</th>
                                            <th>Status</th>
                                            <th>Amount</th>
                                            <th>Due Date</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <style>
        /* Set styles for the container holding the Card Element */
        #uploadForm #card-element {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }

        /* Set styles for the Card Element container */
        #uploadForm .StripeElement {
            background-color: white !important;
            padding: 10px !important;
            border-radius: 5px !important;
        }

        /* Set styles for the Card Element inputs */
        #uploadForm .StripeElement input {
            border: none !important;
            outline: none !important;
        }

        /* Style the placeholder text */
        #uploadForm .StripeElement ::placeholder {
            color: #aab7c4 !important;
        }

        /* Style the inputs when they are focused */
        #uploadForm .StripeElement :focus {
            box-shadow: 0 0 5px rgba(81, 203, 238, 1) !important;
        }

        /* Additional style for the CardField input wrapper */
        .CardField-input-wrapper {
            background-color: #f7f7f7 !important;
            padding: 10px !important;
            border: 1px solid #ccc !important;
            border-radius: 5px !important;
        }

        /* Ensure the card element fits within the modal */
        #uploadForm .StripeElement {
            width: 100%;
        }
    </style>
    <div class="modal fade" tabindex="-1" id="kt_modal_1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Pay with Debit/Credit Card</h5>

                    <!--begin::Close-->
                    <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                        <span class="svg-icon svg-icon-2x"></span>
                    </div>
                    <!--end::Close-->
                </div>
                <form method="post" id="uploadForm">
                <div class="modal-body">

                        <div id="card-element"></div>
                        <br>
                        <input type="hidden" name="invoiceID" id="invoiceID">
                        <div id="card-errors" role="alert"></div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="btn">Pay Invoice</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <!--  END CONTENT AREA  -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        var stripe = Stripe('{{ Stripe_public_key }}');
        var elements = stripe.elements();
        var style = {
            base: {
                fontSize: '16px',
                color: '#32325d',
                fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                fontSmoothing: 'antialiased',
                '::placeholder': {
                    color: '#7e7e7e',
                },
            },
            invalid: {
                color: '#fa755a',
                iconColor: '#fa755a',
            },
        };
        var cardElement = elements.create('card', { style: style });
        cardElement.mount('#card-element');

        var form = document.getElementById('uploadForm');

        form.addEventListener('submit', function(event) {
            event.preventDefault();
            document.getElementById('btn').disabled = true;
            document.getElementById("btn").innerHTML = "Loading...";

            stripe.createToken(cardElement).then(function(result) {
                if (result.error) {
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                    document.getElementById('btn').disabled = false;
                    document.getElementById("btn").innerHTML = "Pay Invoice";
                } else {
                    stripe_tool(result.token.id);

                }
            });
        });
        function stripe_tool(stripeToken) {
            $("#btn").prop("disabled", true);
            var formData = new FormData(document.getElementById("uploadForm"));
            formData.append('stripeToken', stripeToken);
            $.ajax({
                url: "/stripe/pay-invoice",
                type: "POST",
                data: formData,
                contentType: false,
                cache: false,
                processData: false,
                success: function (data) {
                    data=JSON.parse(data);

                    // Re-enable the button
                    $("#btn").prop("disabled", false);
                    document.getElementById("btn").innerHTML = "Pay Invoice";
                    if (data['statusCode'] == '200') {
                        $('#table').DataTable().ajax.reload(null, false);
                        $('#kt_modal_1').modal('hide');
                        document.getElementById("uploadForm").reset();
                        $('#result').html('<div class="alert alert-success">'+data['message']+'</div>');
                        // window.location.href = "/contact-form";
                    } else {
                        document.getElementById("uploadForm").reset();
                        $('#card-errors').html('<div class="alert alert-danger">'+data['message']+'</div>');
                    }
                },
                error: function() {
                    // Re-enable the button in case of an error
                    $("#btn").prop("disabled", false);
                }
            });
        }

        function getDataForStripe(invoiceID){
             $('#invoiceID').val(invoiceID);
        }
    </script>

    <script>
        $(document).ready(function () {
            var csrf_token = $("input[name=csrf]").val();
            var table = $('#table').dataTable({
                "language": {
                    processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> '
                },
                "responsive": true,
                "bProcessing": true,
                "sAjaxSource": "/user/api?page_name=view_invoices&csrf="+csrf_token,
                "bPaginate": true,
                "sPaginationType": "full_numbers",
                "iDisplayLength": 10,
                "aoColumns": [
                    {mData: 'ids'},
                    {mData: 'userView'},
                    {mData: 'statusView'},
                    {mData: 'FinalTotal'},
                    {mData: 'DueDate'},
                    {mData: 'action'},
                ]
            });
            $('#search').on('keyup', function() {
                $('#table').DataTable().search(this.value).draw();
            });
        });
        function userStatus(userID, status) {
            if(status == 0){
                var currStatus= "block";
            }else{
                var currStatus= "active";
            }
            var el = this;
            $(this).html('<i class="fa fa-circle-o-notch fa-spin"></i> loading...');
            var csrf_token = $("input[name=csrf]").val();
            $.ajax({
                url: '/user/api',
                type: 'GET', data: {
                    id: userID,
                    status: currStatus,
                    page_name: "userStatusUpdate",
                    table_name:"invoice",
                    status_table:"status",
                    csrf: csrf_token
                }, success: function (data) {
                    $(el).closest("tr").fadeOut();
                    if (data == 1) {
                        toastr.success('Status Updated.');
                        $(el).closest("tr").fadeOut();
                        $('#table').DataTable().ajax.reload(null, false);
                    } else {
                        toastr.error('Something went wrong.');

                    }
                }

            });
        }

        //Delete Data
        function deleteUser(deleteid) {
            var el = this;
            $(this).prop("disabled", true);
// add spinner to button
            $(this).html('<i class="fa fa-circle-o-notch fa-spin"></i> loading...');
            var csrf_token = $("input[name=csrf]").val();
            $.ajax({
                url: '/user/api',
                type: 'GET', data: {
                    id: deleteid,
                    page_name: "delete",
                    table_name: "invoice",
                    csrf: csrf_token
                }, success: function (data) {
                    $('#table').DataTable().ajax.reload(null, false);
                    $(el).closest("tr").fadeOut();
                    toastr.clear();
                    if (data == 1) {
                        toastr.success('Successfully deleted.');
                        $(el).closest("tr").fadeOut();
                        $('#table').DataTable().ajax.reload(null, false);
                    } else {
                        toastr.error('Something went wrong.');

                    }
                }
            });
        }
    </script>
{% endblock %}