{% extends 'user/master.twig' %}
{% block content %}

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
        <div class="layout-px-spacing">

            <div class="middle-content container-xxl p-0">

                <!-- BREADCRUMB -->
                <div class="page-meta">
                    <nav class="breadcrumb-style-one" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/user/dashboard">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Interviews</li>
                        </ol>
                    </nav>
                </div>
                <!-- /BREADCRUMB -->
{#                <div class="row layout-spacing mt-2">#}
{#                    <div class="col-lg-12 justify-content-end text-end ">#}
{#                        <a type="button" href="/user/template/create" class="btn btn-primary  me-4">#}
{#                            <span class="btn-text-inner">Create Template</span>#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
                <div class="row layout-spacing">
                    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                        <div class="widget-content widget-content-area">
                            <div class="table-responsive">
                                <table id="table"  class="table dt-table-hover" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th> # </th>
                                        <th>Template Name</th>
                                        <th> Description</th>
                                        <th >Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>


            </div>

        </div>
        <!-- Modal -->
        <div class="modal fade inputForm-modal" id="inputFormModal" tabindex="-1" role="dialog" aria-labelledby="inputFormModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">

                    <div class="modal-header" id="inputFormModalLabel">
                        <h5 class="modal-title">Interview Request</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                    </div>
                    <div class="modal-body">
                        <form class="mt-0" id="inviteForm">
                            <div class="form-group">
                                <label for="">Choose Client</label>
                                <div class="input-group mb-3">
                                    <select name="client_id" id="" class="form-control">
                                        {% for client in clients %}
                                        <option value="  {{ client.id }}">  {{ client.fname }} {{ client.lname }} - {{ client.email }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <input type="hidden" name="template_id" id="template_id">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-light-danger mt-2 mb-2 btn-no-effect" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary mt-2 mb-2 btn-no-effect" data-bs-dismiss="modal" id="btn-profile" onclick="send_request()">Send Request</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="commentModalLabel">Full Description</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="fullComment"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
                  </div>
        </div>

        <!--  BEGIN FOOTER  -->
        <div class="footer-wrapper">
            <div class="footer-wrapper">
                <div class="footer-section f-section-1">
                    <p class="">Copyright © <span class="dynamic-year">2024</span> <a target="_blank" href="https://zotecsoft.com/">ZotecSoft</a>, All rights reserved.</p>
                </div>
            </div>
        </div>
        <!--  END FOOTER  -->
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!--  END CONTENT AREA  -->
    <script>
        $(document).ready(function () {
            var csrf_token = $("input[name=csrf]").val();
            var table = $('#table').dataTable({
                "language": {
                    processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> '
                },
                "responsive": true,
                "bProcessing": true,
                "sAjaxSource": "/user/api?page_name=view_Templates&csrf="+csrf_token,
                "bPaginate": true,
                "sPaginationType": "full_numbers",
                "iDisplayLength": 10,
                "aoColumns": [
                    {mData: 'ids'},
                    {mData: 'name'},
                    {mData: 'desView'},
                    {mData: 'action'},
                ]
            });
        });
        $('body').on('click', '.edit', function () {
            var id = $(this).data('id');
            $('#inviteForm').trigger("reset");
            $('#template_id').val(id);
        });

        function send_request() {
            var form_Data = new FormData(document.getElementById("inviteForm"));
            document.getElementById('btn-profile').disabled = true;

            $.ajax({
                url: "/user/templates/send_request",
                type: "POST",
                data: form_Data,
                contentType: false,
                cache: false,
                processData: false,
                success: function (dataResult) {
                    console.log(dataResult);
                    if (dataResult == 1) {
                        document.getElementById('btn-profile').disabled = false;
                        $('#inputFormModal').modal('hide');
                        toastr.success('Invitation Sent.');
                        document.getElementById("inviteForm").reset();

                    } else if (dataResult == 2) {
                        document.getElementById('btn-profile').disabled = false;
                        toastr.error("Required fields are empty!");
                    } else if (dataResult == 3) {
                        document.getElementById('btn-profile').disabled = false;
                        toastr.info("You already sent the request to this client!");
                    }else {
                        document.getElementById('btn-profile').disabled = false;
                        toastr.error('Somthing Went Wrong.');
                    }

                }
            });
        }
        function userStatus(userID, status) {
            if(status == 0){
                var currStatus= "block";
            }else{
                var currStatus= "active";
            }
            var el = this;
            $(this).html('<i class="fa fa-circle-o-notch fa-spin"></i> loading...');
            var csrf_token = $("input[name=csrf]").val();
            $.ajax({
                url: '/user/api',
                type: 'GET', data: {
                    id: userID,
                    status: currStatus,
                    page_name: "userStatusUpdate",
                    table_name:"templates",
                    status_table:"status",
                    csrf: csrf_token
                }, success: function (data) {
                    if (data == 1) {
                        toastr.success('Status Updated.');
                        $('#table').DataTable().ajax.reload(null, false);
                    } else {
                        toastr.error('Something went wrong.');

                    }
                }

            });
        }
        function deleteUser(deleteid) {
// add spinner to button
            $(this).html('<i class="fa fa-circle-o-notch fa-spin"></i> loading...');
            var csrf_token = $("input[name=csrf]").val();
            $.ajax({
                url: '/user/api',
                type: 'GET', data: {
                    id: deleteid,
                    page_name: "delete",
                    table_name: "templates",
                    csrf: csrf_token
                }, success: function (data) {
                    if (data == 1) {
                        toastr.info('Successfully deleted.');
                        $('#table').DataTable().ajax.reload(null, false);
                    } else {
                        toastr.error('Something went wrong.');

                    }
                }
            });
        }
        $(document).ready(function(){
            $(document).on('click', '.see-more', function(e){
                e.preventDefault();
                var fullComment = $(this).data('description');
                $('#fullComment').text(fullComment);
                $('#commentModal').modal('show');
            });
        });
    </script>
{% endblock %}