{% extends 'user/master.twig' %}
{% block content %}

    <style>
        .nav.nav-pills {
            border: none;
            padding: 8px;
            background: #fff !important;
            border-radius: 8px;
        }
        .nav.nav-pills li.nav-item button.nav-link {
            color: #1b1b28 !important;
        }
        .nav.nav-pills li.nav-item button.nav-link svg{
            color: #1b1b28 !important;
        }.nav.nav-pills li.nav-item button.nav-link.active svg{
            color: #ED141F !important;
        }
    </style>
    <link href="{{ env.APP_URL }}assets/dashboard/tabs.css" rel="stylesheet" type="text/css" />

    <!--  BEGIN CONTENT AREA  -->
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Toolbar-->
        <div class="toolbar" id="kt_toolbar">
            <!--begin::Container-->
            <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
                <!--begin::Page title-->
                <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                    <!--begin::Title-->
                    <h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1">Dashboard</h1>

                </div>

            </div>
            <!--end::Container-->
        </div>
        <!--end::Toolbar-->
        <!--begin::Post-->
        <div class="post d-flex flex-column-fluid" id="kt_post">
            <!--begin::Container-->
            <div id="kt_content_container" class="container-fluid">
                        <div id="call-ringing"></div>
                        <div class="row layout-top-spacing">
                            <div class="simple-pill">
                                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="pills-home-icon-tab" data-bs-toggle="pill" data-bs-target="#pills-home-icon" type="button" role="tab" aria-controls="pills-home-icon" aria-selected="true">
                                            <svg viewBox="64 64 896 896" focusable="false" data-icon="unordered-list" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M912 192H328c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h584c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8zm0 284H328c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h584c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8zm0 284H328c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h584c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8zM104 228a56 56 0 10112 0 56 56 0 10-112 0zm0 284a56 56 0 10112 0 56 56 0 10-112 0zm0 284a56 56 0 10112 0 56 56 0 10-112 0z"></path></svg>
                                            Client List
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="pills-profile-icon-tab" data-bs-toggle="pill" data-bs-target="#pills-profile-icon" type="button" role="tab" aria-controls="pills-profile-icon" aria-selected="false">
                                            <svg viewBox="0 0 1024 1024" focusable="false" data-icon="inbox" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M885.2 446.3l-.2-.8-112.2-285.1c-5-16.1-19.9-27.2-36.8-27.2H281.2c-17 0-32.1 11.3-36.9 27.6L139.4 443l-.3.7-.2.8c-1.3 4.9-1.7 9.9-1 14.8-.1 1.6-.2 3.2-.2 4.8V830a60.9 60.9 0 0060.8 60.8h627.2c33.5 0 60.8-27.3 60.9-60.8V464.1c0-1.3 0-2.6-.1-3.7.4-4.9 0-9.6-1.3-14.1zm-295.8-43l-.3 15.7c-.8 44.9-31.8 75.1-77.1 75.1-22.1 0-41.1-7.1-54.8-20.6S436 441.2 435.6 419l-.3-15.7H229.5L309 210h399.2l81.7 193.3H589.4zm-375 76.8h157.3c24.3 57.1 76 90.8 140.4 90.8 33.7 0 65-9.4 90.3-27.2 22.2-15.6 39.5-37.4 50.7-63.6h156.5V814H214.4V480.1z"></path></svg>
                                            Unassigned
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="pills-contact-icon-tab" data-bs-toggle="pill" data-bs-target="#pills-contact-icon" type="button" role="tab" aria-controls="pills-contact-icon" aria-selected="false">
                                            <svg viewBox="64 64 896 896" focusable="false" data-icon="folder-open" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M928 444H820V330.4c0-17.7-14.3-32-32-32H473L355.7 186.2a8.15 8.15 0 00-5.5-2.2H96c-17.7 0-32 14.3-32 32v592c0 17.7 14.3 32 32 32h698c13 0 24.8-7.9 29.7-20l134-332c1.5-3.8 2.3-7.9 2.3-12 0-17.7-14.3-32-32-32zM136 256h188.5l119.6 114.4H748V444H238c-13 0-24.8 7.9-29.7 20L136 643.2V256zm635.3 512H159l103.3-256h612.4L771.3 768z"></path></svg>
                                            In Progress
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="pills-disabled-icon-tab" data-bs-toggle="pill" data-bs-target="#pills-disabled-icon" type="button" role="tab" aria-controls="pills-disabled-icon" aria-selected="false" >
                                            <svg viewBox="64 64 896 896" focusable="false" data-icon="check" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M912 190h-69.9c-9.8 0-19.1 4.5-25.1 12.2L404.7 724.5 207 474a32 32 0 00-25.1-12.2H112c-6.7 0-10.4 7.7-6.3 12.9l273.9 347c12.8 16.2 37.4 16.2 50.3 0l488.4-618.9c4.1-5.1.4-12.8-6.3-12.8z"></path></svg>
                                            Completed
                                        </button>
                                    </li>
                                </ul>
                                <div class="tab-content" id="pills-tabContent">
                                    {#                            Client List#}

                                    <div class="tab-pane fade show active" id="pills-home-icon" role="tabpanel" aria-labelledby="pills-home-icon-tab" tabindex="0">
                                        {#                              CLient Table#}
                                        <div class="row layout-spacing">
                                            <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                                                <div class="widget-content widget-content-area card">
                                                    <div class="card-header border-0 pt-6">
                                                        <!--begin::Card title-->
                                                        <div class="card-title">
                                                            <!--begin::Search-->
                                                            <div class="d-flex align-items-center position-relative my-1">
                                                                <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                                                                <span class="svg-icon svg-icon-1 position-absolute ms-6">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
														<rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
														<path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
													</svg>
												</span>
                                                                <!--end::Svg Icon-->
                                                                <input type="text" data-kt-customer-table-filter="search" id="search" class="form-control form-control-solid w-250px ps-15" placeholder="Search " />
                                                            </div>
                                                            <!--end::Search-->
                                                        </div>

                                                    </div>
                                                    <div class="table-responsive">
                                                        <table id="table"  class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4" style="width:100%">
                                                            <thead>
                                                            <tr class="fw-bolder text-muted">
                                                                <th class="min-w-40px"> Id </th>
                                                                <th class="min-w-125px">Profile</th>
                                                                <th class="min-w-125px">Mobile No.</th>
                                                                <th class="min-w-125px">Status</th>
                                                                <th class="min-w-125px">Action</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-profile-icon" role="tabpanel" aria-labelledby="pills-profile-icon-tab" tabindex="0">
                                        {#                              CLient Table#}
                                        <div class="row layout-spacing">
                                            <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                                                <div class="widget-content widget-content-area card">
                                                    <div class="card-header border-0 pt-6">
                                                        <!--begin::Card title-->
                                                        <div class="card-title">
                                                            <!--begin::Search-->
                                                            <div class="d-flex align-items-center position-relative my-1">
                                                                <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                                                                <span class="svg-icon svg-icon-1 position-absolute ms-6">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
														<rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
														<path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
													</svg>
												</span>
                                                                <!--end::Svg Icon-->
                                                                <input type="text" data-kt-customer-table-filter="search" id="searchUnassigned" class="form-control form-control-solid w-250px ps-15" placeholder="Search " />
                                                            </div>
                                                            <!--end::Search-->
                                                        </div>

                                                    </div>
                                                    <div class="table-responsive">
                                                        <table id="unassigned"  class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4" style="width:100%">
                                                            <thead>
                                                            <tr class="fw-bolder text-muted">
                                                                <th class="min-w-40px"> Id </th>
                                                                <th class="min-w-125px">Profile</th>
                                                                <th class="min-w-125px">Mobile No.</th>
                                                                <th class="min-w-125px">Status</th>
                                                                <th class="min-w-125px">Action</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        {#                                Client DropDown Table#}
                                    </div>
                                    <div class="tab-pane fade" id="pills-contact-icon" role="tabpanel" aria-labelledby="pills-contact-icon-tab" tabindex="0">
                                        <div class="row layout-spacing">
                                            <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                                                <div class="widget-content widget-content-area card">
                                                    <div class="card-header border-0 pt-6">
                                                        <!--begin::Card title-->
                                                        <div class="card-title">
                                                            <!--begin::Search-->
                                                            <div class="d-flex align-items-center position-relative my-1">
                                                                <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                                                                <span class="svg-icon svg-icon-1 position-absolute ms-6">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
														<rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
														<path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
													</svg>
												</span>
                                                                <!--end::Svg Icon-->
                                                                <input type="text" data-kt-customer-table-filter="search" id="searchInProgress" class="form-control form-control-solid w-250px ps-15" placeholder="Search " />
                                                            </div>
                                                            <!--end::Search-->
                                                        </div>

                                                    </div>
                                                    <div class="table-responsive">
                                                        <table id="inProgress"  class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4" style="width:100%">
                                                            <thead>
                                                            <tr class="fw-bolder text-muted">
                                                                <th class="min-w-40px"> Id </th>
                                                                <th class="min-w-125px">Profile</th>
                                                                <th class="min-w-125px">Mobile No.</th>
                                                                <th class="min-w-125px">Status</th>
                                                                <th class="min-w-125px">Action</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-disabled-icon" role="tabpanel" aria-labelledby="pills-disabled-icon-tab" tabindex="0">
                                        <div class="row layout-spacing">
                                            <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                                                <div class="widget-content widget-content-area card">
                                                    <div class="card-header border-0 pt-6">
                                                        <!--begin::Card title-->
                                                        <div class="card-title">
                                                            <!--begin::Search-->
                                                            <div class="d-flex align-items-center position-relative my-1">
                                                                <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                                                                <span class="svg-icon svg-icon-1 position-absolute ms-6">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
														<rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
														<path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
													</svg>
												</span>
                                                                <!--end::Svg Icon-->
                                                                <input type="text" data-kt-customer-table-filter="search" id="searchCompleted" class="form-control form-control-solid w-250px ps-15" placeholder="Search " />
                                                            </div>
                                                            <!--end::Search-->
                                                        </div>

                                                    </div>
                                                    <div class="table-responsive">
                                                        <table id="completed"  class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4" style="width:100%">
                                                            <thead>
                                                            <tr class="fw-bolder text-muted">
                                                                <th class="min-w-40px"> Id </th>
                                                                <th class="min-w-125px">Profile</th>
                                                                <th class="min-w-125px">Mobile No.</th>
                                                                <th class="min-w-125px">Status</th>
                                                                <th class="min-w-125px">Action</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

            </div>
            <!--end::Container-->
        </div>
        <!--end::Post-->
    </div>

    <div class="modal fade" id="editExampleModal" tabindex="-1" aria-labelledby="editExampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered mw-650px">
            <div class="modal-content bg-white">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="btn-close"></button>
                </div>
                <div class="modal-body scroll-y mx-5 mx-xl-5 my-7">
                <form  method="post" id="editUploadForm" enctype="multipart/form-data">
                    <div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_user_scroll"
                         data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}"
                         data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_user_header"
                         data-kt-scroll-wrappers="#kt_modal_add_user_scroll" data-kt-scroll-offset="300px"
                         style="max-height: 570px;">
                        <div class="fv-row mb-7 fv-plugins-icon-container">
                                <label class="form-label">First name</label>
                                <input type="text" class="form-control form-control-solid" id="fname" name="fname" placeholder="First Name">
                                <input type="hidden" name="csrf" value="{{ csrf}}">
                                <input type="hidden" name="id" id="id">
                            </div>
                        <div class="fv-row mb-7 fv-plugins-icon-container">
                                <label class="form-label">Last name</label>
                                <input type="text" class="form-control form-control-solid" id="lname" name="lname" placeholder="Last Name">
                            </div>
                        <div class="fv-row mb-7 fv-plugins-icon-container">
                                <label class="form-label">Email adress</label>
                                <input type="text" class="form-control form-control-solid" id="email" name="email" placeholder="Email" readonly>
                            </div>
                        <div class="fv-row mb-7 fv-plugins-icon-container">
                                <label class="form-label">Phone No</label>
                                <input type="tel" class="form-control form-control-solid" id="phone" name="phone" placeholder="Phone No">
                            </div>
                        <div class="fv-row mb-7 fv-plugins-icon-container">
                                <label class="form-label">Password</label>
                                <input type="password" class="form-control form-control-solid" id="password " name="password" placeholder="Password">
                            </div>
                        <div class="fv-row mb-7 fv-plugins-icon-container">
                                <label class="form-label">Confirm Password</label>
                                <input type="password" class="form-control form-control-solid" id="cpassword" name="cpassword" placeholder="Confirm Password">
                            </div>
                        </div>

                    <div class="modal-footer justify-content-center">
                        <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" name="add_new" id="btn-profile" class="btn btn-primary" onclick="update_tool()">Update</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
    <!--  END CONTENT AREA  -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            var csrf_token = $("input[name=csrf]").val();
            var table = $('#table').dataTable({
                "language": {
                    processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> '
                },
                "responsive": true,
                "bProcessing": true,
                "sAjaxSource": "/user/api?page_name=view_clients&csrf="+csrf_token,
                "bPaginate": true,
                "sPaginationType": "full_numbers",
                "iDisplayLength": 10,
                "aoColumns": [
                    {mData: 'ids'},
                    {mData: 'userView'},
                    {mData: 'phone'},
                    {mData: 'statusView'},
                    {mData: 'action'},
                ]
            });
            $('#search').on('keyup', function() {
                $('#table').DataTable().search(this.value).draw();
            });
        });
        $(document).ready(function () {
            var csrf_token = $("input[name=csrf]").val();
            var table = $('#unassigned').dataTable({
                "language": {
                    processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> '
                },
                "responsive": true,
                "bProcessing": true,
                "sAjaxSource": "/user/api?page_name=view_clients_unassigned&csrf="+csrf_token,
                "bPaginate": true,
                "sPaginationType": "full_numbers",
                "iDisplayLength": 10,
                "aoColumns": [
                    {mData: 'ids'},
                    {mData: 'userView'},
                    {mData: 'phone'},
                    {mData: 'statusView'},
                    {mData: 'action'},
                ]
            });
            $('#searchUnassigned').on('keyup', function() {
                $('#unassigned').DataTable().search(this.value).draw();
            });
        });
        $(document).ready(function () {
            var csrf_token = $("input[name=csrf]").val();
            var table = $('#inProgress').dataTable({
                "language": {
                    processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> '
                },
                "responsive": true,
                "bProcessing": true,
                "sAjaxSource": "/user/api?page_name=view_clients_inProgress&csrf="+csrf_token,
                "bPaginate": true,
                "sPaginationType": "full_numbers",
                "iDisplayLength": 10,
                "aoColumns": [
                    {mData: 'ids'},
                    {mData: 'userView'},
                    {mData: 'phone'},
                    {mData: 'statusView'},
                    {mData: 'action'},
                ]
            });
            $('#searchInProgress').on('keyup', function() {
                $('#inProgress').DataTable().search(this.value).draw();
            });
        });
        $(document).ready(function () {
            var csrf_token = $("input[name=csrf]").val();
            var table = $('#completed').dataTable({
                "language": {
                    processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> '
                },
                "responsive": true,
                "bProcessing": true,
                "sAjaxSource": "/user/api?page_name=view_clients_completed&csrf="+csrf_token,
                "bPaginate": true,
                "sPaginationType": "full_numbers",
                "iDisplayLength": 10,
                "aoColumns": [
                    {mData: 'ids'},
                    {mData: 'userView'},
                    {mData: 'phone'},
                    {mData: 'statusView'},
                    {mData: 'action'},
                ]
            });
            $('#searchCompleted').on('keyup', function() {
                $('#completed').DataTable().search(this.value).draw();
            });
        });
        function send_invite() {
            var form_Data = new FormData(document.getElementById("inviteForm"));
            document.getElementById('btn-profile').disabled = true;

            $.ajax({
                url: "/user/send_invite",
                type: "POST",
                data: form_Data,
                contentType: false,
                cache: false,
                processData: false,
                success: function (dataResult) {
                    console.log(dataResult);
                    if (dataResult == 1) {
                        $('#table').DataTable().ajax.reload(null, false);
                        $('#unassigned').DataTable().ajax.reload(null, false);
                        $('#inProgress').DataTable().ajax.reload(null, false);
                        $('#completed').DataTable().ajax.reload(null, false);
                        document.getElementById('btn-profile').disabled = false;
                        $('#inputFormModal').modal('hide');
                        toastr.success('Invitation Sent.');
                        document.getElementById("inviteForm").reset();

                    } else if (dataResult == 2) {
                        document.getElementById('btn-profile').disabled = false;
                        toastr.error("Required fields are empty!");
                    } else if (dataResult == 3) {
                        document.getElementById('btn-profile').disabled = false;
                        toastr.error("Email Already Exist");
                    }else {
                        document.getElementById('btn-profile').disabled = false;
                        toastr.error('Somthing Went Wrong.');
                    }

                }
            });
        }
        function userStatus(userID, status) {
            if(status == 0){
                var currStatus= "block";
            }else{
                var currStatus= "active";
            }
            var el = this;
            $(this).html('<i class="fa fa-circle-o-notch fa-spin"></i> loading...');
            var csrf_token = $("input[name=csrf]").val();
            $.ajax({
                url: '/user/api',
                type: 'GET', data: {
                    id: userID,
                    status: currStatus,
                    page_name: "userStatusUpdate",
                    table_name:"users",
                    status_table:"status",
                    csrf: csrf_token
                }, success: function (data) {
                    if (data == 1) {
                        toastr.success('Status Updated.');
                        $('#table').DataTable().ajax.reload(null, false);
                        $('#unassigned').DataTable().ajax.reload(null, false);
                        $('#inProgress').DataTable().ajax.reload(null, false);
                        $('#completed').DataTable().ajax.reload(null, false);
                    } else {
                        toastr.error('Something went wrong.');

                    }
                }

            });
        }
        function deleteUser(deleteid) {
// add spinner to button
            $(this).html('<i class="fa fa-circle-o-notch fa-spin"></i> loading...');
            var csrf_token = $("input[name=csrf]").val();
            $.ajax({
                url: '/user/api',
                type: 'GET', data: {
                    id: deleteid,
                    page_name: "delete",
                    table_name: "users",
                    csrf: csrf_token
                }, success: function (data) {
                    if (data == 1) {
                        toastr.info('Successfully deleted.');
                        $('#table').DataTable().ajax.reload(null, false);
                        $('#unassigned').DataTable().ajax.reload(null, false);
                        $('#inProgress').DataTable().ajax.reload(null, false);
                        $('#completed').DataTable().ajax.reload(null, false);
                    } else {
                        toastr.error('Something went wrong.');

                    }
                }
            });
        }
        $('body').on('click', '.edit', function () {
            var id = $(this).data('id');

            $('#editUploadForm').trigger("reset");

            $.ajax({
                url: "/user/get_user",
                type: "POST",
                data: {
                    edit: 1,
                    id: id,
                },
                cache: false,
                success: function (dataResult) {

                    var dataResult = JSON.parse(dataResult);
                    console.log(dataResult);
                    $('#fname').val(dataResult[0].fname);
                    $('#lname').val(dataResult[0].lname);
                    $('#email').val(dataResult[0].email);
                    $('#phone').val(dataResult[0].phone);
                    $('input[name=id]').val(dataResult[0].id);


                }
            });
        });
        //Update  Data
        function update_tool() {
            var form_Data = new FormData(document.getElementById("editUploadForm"));

            $.ajax({
                url: "/user/user_edit",
                type: "POST",
                data: form_Data,
                contentType: false,
                cache: false,
                processData: false,
                success: function (dataResult) {
                    console.log(dataResult);

                    $("#btn-profile").removeAttr("disabled");
                    if (dataResult == 1) {
                        $('#table').DataTable().ajax.reload(null, false);
                        $('#unassigned').DataTable().ajax.reload(null, false);
                        $('#inProgress').DataTable().ajax.reload(null, false);
                        $('#completed').DataTable().ajax.reload(null, false);
                        $("#btn-profile").removeAttr("enabled");
                        $('#editExampleModal').modal('hide');
                        toastr.success('Client Updated Successfully.');
                        document.getElementById("editUploadForm").reset();

                    } else if (dataResult == 2) {
                        toastr.error("Password doesn't Matched.");
                    } else if (dataResult == 3) {
                        toastr.error("Required fields are empty!");
                    } else {
                        toastr.error('Somthing Went Wrong.');
                    }

                }
            });
        }

    </script>
{% endblock %}