{% extends 'user/master.twig' %}
{% block content %}
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Toolbar-->
        <div class="toolbar" id="kt_toolbar">
            <!--begin::Container-->
            <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
                <!--begin::Page title-->
                <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                    <!--begin::Title-->
                    <h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1">Email</h1>
                    <!--end::Title-->
                    <!--begin::Separator-->
                    <span class="h-20px border-gray-300 border-start mx-4"></span>
                    <!--end::Separator-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">

                        <li class="breadcrumb-item text-muted">Trash</li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="breadcrumb-item">
                            <span class="bullet bg-gray-300 w-5px h-2px"></span>
                        </li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="breadcrumb-item text-dark">Email</li>
                        <!--end::Item-->
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
            </div>
            <!--end::Container-->
        </div>
        <!--end::Toolbar-->
        <!--begin::Post-->
        <div class="post d-flex flex-column-fluid" id="kt_post">
            <!--begin::Container-->
            <div id="kt_content_container" class="container-fluid">
                <!--begin::Inbox App - Messages -->
                <div class="d-flex flex-column flex-lg-row">
                    <!--begin::Sidebar-->
                    <div class="flex-column flex-lg-row-auto w-100 w-lg-275px mb-10 mb-lg-0">
                        <!--begin::Sticky aside-->
                        <div class="card card-flush mb-0" data-kt-sticky="true" data-kt-sticky-name="inbox-aside-sticky" data-kt-sticky-offset="{default: false, xl: '0px'}" data-kt-sticky-width="{lg: '275px'}" data-kt-sticky-left="auto" data-kt-sticky-top="150px" data-kt-sticky-animation="false" data-kt-sticky-zindex="95">
                            <!--begin::Aside content-->
                            <div class="card-body">
                                <!--begin::Button-->
                                <a href="/user/email/compose" class="btn btn-primary text-uppercase w-100 mb-10">Compose Email</a>
                                <!--end::Button-->
                                <!--begin::Menu-->
                                <div class="menu menu-column menu-rounded menu-state-bg menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary mb-10">
                                    <div class="menu-item mb-3">
                                        <a href="/user/email/inbox" class="menu-link ">
															<span class="menu-icon">
																<span class="svg-icon svg-icon-2 me-3">
																	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																		<path d="M6 8.725C6 8.125 6.4 7.725 7 7.725H14L18 11.725V12.925L22 9.725L12.6 2.225C12.2 1.925 11.7 1.925 11.4 2.225L2 9.725L6 12.925V8.725Z" fill="currentColor" />
																		<path opacity="0.3" d="M22 9.72498V20.725C22 21.325 21.6 21.725 21 21.725H3C2.4 21.725 2 21.325 2 20.725V9.72498L11.4 17.225C11.8 17.525 12.3 17.525 12.6 17.225L22 9.72498ZM15 11.725H18L14 7.72498V10.725C14 11.325 14.4 11.725 15 11.725Z" fill="currentColor" />
																	</svg>
																</span>
															</span>
                                            <span class="menu-title text-dark fw-bolder">Inbox</span>
                                        </a>
                                    </div>

                                    <div class="menu-item mb-3">
                                        <a href="/user/email/sent" class="menu-link ">
															<span class="menu-icon">
																<span class="svg-icon svg-icon-2 me-3">
																	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																		<path d="M15.43 8.56949L10.744 15.1395C10.6422 15.282 10.5804 15.4492 10.5651 15.6236C10.5498 15.7981 10.5815 15.9734 10.657 16.1315L13.194 21.4425C13.2737 21.6097 13.3991 21.751 13.5557 21.8499C13.7123 21.9488 13.8938 22.0014 14.079 22.0015H14.117C14.3087 21.9941 14.4941 21.9307 14.6502 21.8191C14.8062 21.7075 14.9261 21.5526 14.995 21.3735L21.933 3.33649C22.0011 3.15918 22.0164 2.96594 21.977 2.78013C21.9376 2.59432 21.8452 2.4239 21.711 2.28949L15.43 8.56949Z" fill="currentColor" />
																		<path opacity="0.3" d="M20.664 2.06648L2.62602 9.00148C2.44768 9.07085 2.29348 9.19082 2.1824 9.34663C2.07131 9.50244 2.00818 9.68731 2.00074 9.87853C1.99331 10.0697 2.04189 10.259 2.14054 10.4229C2.23919 10.5869 2.38359 10.7185 2.55601 10.8015L7.86601 13.3365C8.02383 13.4126 8.19925 13.4448 8.37382 13.4297C8.54839 13.4145 8.71565 13.3526 8.85801 13.2505L15.43 8.56548L21.711 2.28448C21.5762 2.15096 21.4055 2.05932 21.2198 2.02064C21.034 1.98196 20.8409 1.99788 20.664 2.06648Z" fill="currentColor" />
																	</svg>
																</span>
                                                                <!--end::Svg Icon-->
															</span>
                                            <span class="menu-title text-dark fw-bolder">Sent</span>
                                        </a>

                                    </div>
                                    <div class="menu-item">
                                        <!--begin::Trash-->
                                        <a href="/user/email/trash" class="menu-link active">
															<span class="menu-icon">
																<!--begin::Svg Icon | path: icons/duotune/general/gen027.svg-->
																<span class="svg-icon svg-icon-2 me-3">
																	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																		<path d="M5 9C5 8.44772 5.44772 8 6 8H18C18.5523 8 19 8.44772 19 9V18C19 19.6569 17.6569 21 16 21H8C6.34315 21 5 19.6569 5 18V9Z" fill="currentColor" />
																		<path opacity="0.5" d="M5 5C5 4.44772 5.44772 4 6 4H18C18.5523 4 19 4.44772 19 5V5C19 5.55228 18.5523 6 18 6H6C5.44772 6 5 5.55228 5 5V5Z" fill="currentColor" />
																		<path opacity="0.5" d="M9 4C9 3.44772 9.44772 3 10 3H14C14.5523 3 15 3.44772 15 4V4H9V4Z" fill="currentColor" />
																	</svg>
																</span>
                                                                <!--end::Svg Icon-->
															</span>
                                            <span class="menu-title text-dark fw-bolder">Trash</span>
                                        </a>
                                        <!--end::Trash-->
                                    </div>
                                    <!--end::Menu item-->
                                </div>
                            </div>
                            <!--end::Aside content-->
                        </div>
                        <!--end::Sticky aside-->
                    </div>
                    <!--end::Sidebar-->
                    <!--begin::Content-->
                    <div class="flex-lg-row-fluid ms-lg-7 ms-xl-10">
                        <!--begin::Card-->
                        <div class="card">
                            <div class="card-header align-items-center py-5 gap-2 gap-md-5">
                                <!--begin::Actions-->
                                <div class="d-flex flex-wrap gap-1">
                                    <!--begin::Checkbox-->
                                    <div class="form-check form-check-sm form-check-custom form-check-solid me-3">
                                        <input class="form-check-input" type="checkbox" data-kt-check="true" data-kt-check-target="#kt_inbox_listing .form-check-input" value="1" />
                                    </div>

                                    <a role="button" onClick="window.location.reload()" class="btn btn-sm btn-icon btn-clear btn-active-light-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Reload">
                                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr029.svg-->
                                        <span class="svg-icon svg-icon-2">
															<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																<path d="M14.5 20.7259C14.6 21.2259 14.2 21.826 13.7 21.926C13.2 22.026 12.6 22.0259 12.1 22.0259C9.5 22.0259 6.9 21.0259 5 19.1259C1.4 15.5259 1.09998 9.72592 4.29998 5.82592L5.70001 7.22595C3.30001 10.3259 3.59999 14.8259 6.39999 17.7259C8.19999 19.5259 10.8 20.426 13.4 19.926C13.9 19.826 14.4 20.2259 14.5 20.7259ZM18.4 16.8259L19.8 18.2259C22.9 14.3259 22.7 8.52593 19 4.92593C16.7 2.62593 13.5 1.62594 10.3 2.12594C9.79998 2.22594 9.4 2.72595 9.5 3.22595C9.6 3.72595 10.1 4.12594 10.6 4.02594C13.1 3.62594 15.7 4.42595 17.6 6.22595C20.5 9.22595 20.7 13.7259 18.4 16.8259Z" fill="currentColor" />
																<path opacity="0.3" d="M2 3.62592H7C7.6 3.62592 8 4.02592 8 4.62592V9.62589L2 3.62592ZM16 14.4259V19.4259C16 20.0259 16.4 20.4259 17 20.4259H22L16 14.4259Z" fill="currentColor" />
															</svg>
														</span>
                                        <!--end::Svg Icon-->
                                    </a>

                                    <a href='javascript:;' class="btn btn-sm btn-icon btn-light btn-active-light-primary btn-delete-bulk" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                                        <!--begin::Svg Icon | path: icons/duotune/general/gen027.svg-->
                                        <span class="svg-icon svg-icon-2">
															<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																<path d="M5 9C5 8.44772 5.44772 8 6 8H18C18.5523 8 19 8.44772 19 9V18C19 19.6569 17.6569 21 16 21H8C6.34315 21 5 19.6569 5 18V9Z" fill="currentColor" />
																<path opacity="0.5" d="M5 5C5 4.44772 5.44772 4 6 4H18C18.5523 4 19 4.44772 19 5V5C19 5.55228 18.5523 6 18 6H6C5.44772 6 5 5.55228 5 5V5Z" fill="currentColor" />
																<path opacity="0.5" d="M9 4C9 3.44772 9.44772 3 10 3H14C14.5523 3 15 3.44772 15 4V4H9V4Z" fill="currentColor" />
															</svg>
														</span>
                                        <!--end::Svg Icon-->
                                    </a>

                                </div>
                                <!--end::Actions-->
                                <!--begin::Pagination-->
                                <div class="d-flex align-items-center flex-wrap gap-2">
                                    <!--begin::Search-->
                                    <div class="d-flex align-items-center position-relative">
                                        <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                                        <span class="svg-icon svg-icon-2 position-absolute ms-4">
															<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																<rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
																<path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
															</svg>
														</span>
                                        <!--end::Svg Icon-->
                                        <input type="text" data-kt-docs-table-filter="search" class="form-control form-control-sm form-control-solid mw-100 min-w-150px min-w-md-200px ps-12" placeholder="Search Inbox" />
                                    </div>

                                </div>
                                <!--end::Pagination-->
                            </div>
                            <div class="card-body">
                                <!--begin::Table-->

                                <table class="table table-hover table-row-dashed fs-6 gy-5 my-0" id="kt_inbox_listing">
                                    <!--begin::Table head-->
                                    <thead class="d-none">
                                    <tr>
                                        <th>Checkbox</th>
                                        <th>Actions</th>
                                        <th>Author</th>
                                        <th>Title</th>
                                        <th>Date</th>
                                    </tr>
                                    </thead>
                                    <!--end::Table head-->
                                    <!--begin::Table body-->
                                    <tbody>

                                    </tbody>
                                    <!--end::Table body-->
                                </table>

                                <!--end::Table-->

                            </div>
                        </div>
                        <!--end::Card-->
                    </div>

                    <!--end::Content-->
                </div>
                <!--end::Inbox App - Messages -->
            </div>
            <!--end::Container-->
        </div>
        <!--end::Post-->
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!--  END CONTENT AREA  -->
    <script>
        $(document).ready(function () {
            var table = $('#kt_inbox_listing').DataTable({
                ajax: '/user/api?page_name=view_trash',
                columns: [
                    { data: 'select', orderable: false },
                    { data: 'from' },
                    { data: 'subject' },
                    { data: 'DateView' },
                    { data: 'actions', orderable: false, className: 'text-end' }
                ],
                columnDefs: [],
                drawCallback: function () {
                    KTMenu.createInstances();
                    $('.action-edit').off('click').on('click', function () {
                        var emailId = $(this).data('id');
                        if (confirm('Are you sure you want to delete this email?')) {

                            var csrf_token = $("input[name=csrf]").val();
                            $.ajax({
                                url: '/user/email/deleteEmailFromTrash',
                                type: 'POST', data: {
                                    id: emailId,
                                    csrf: csrf_token
                                },
                                success: function (data) {
                                    data= JSON.parse(data);
                                    if (data['statusCode'] == 1) {
                                        toastr.info(data['message']);
                                        table.ajax.reload();
                                    } else {
                                        toastr.error(data['message']);

                                    }
                                },
                                error: function (xhr, status, error) {
                                    alert('Delete failed: ' + error);
                                }
                            });
                        }
                    });
                    $('.btn-delete-bulk').off('click').on('click', function () {
                        var selectedEmails = [];
                        $('input[name="bulk_action"]:checked').each(function () {
                            selectedEmails.push($(this).val());
                        });

                        if (selectedEmails.length > 0) {
                            if (confirm('Are you sure you want to delete selected emails?')) {
                                var csrf_token = $("input[name=csrf]").val();
                                $.ajax({
                                    url: '/user/email/deleteEmailFromTrashBulk',
                                    type: 'POST',
                                    data: {
                                        ids: selectedEmails,
                                        csrf: csrf_token
                                    },
                                    success: function (data) {
                                        data = JSON.parse(data);
                                        if (data['statusCode'] == 1) {
                                            toastr.info(data['message']);
                                            table.ajax.reload();
                                        } else {
                                            toastr.error(data['message']);
                                        }
                                    },
                                    error: function (xhr, status, error) {
                                        alert('Bulk delete failed: ' + error);
                                    }
                                });
                            }
                        } else {
                            alert('Please select at least one email to delete.');
                        }
                    });
                }
            });

            // Bind the search input to DataTable's search method
            $('input[data-kt-docs-table-filter="search"]').on('keyup change', function () {
                table.search(this.value).draw();
            });
        });


    </script>
{% endblock %}