{% extends 'user/master.twig' %}
{% block content %}
    <style>
        .select2-container{
            width: 100% !important;
        }
        .select2-container--default .select2-selection--multiple{
            padding: 0.75rem 1.25rem;
        }
        .select2-selection{
            color: #5e6278;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #e4e6ef;
            appearance: none;
            border-radius: .475rem;
            padding: .75rem 1rem;
        }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/filepond/dist/filepond.css">
    <link rel="stylesheet" href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css">
    <!--  BEGIN CONTENT AREA  -->
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Toolbar-->
        <div class="toolbar" id="kt_toolbar">
            <!--begin::Container-->
            <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
                <!--begin::Page title-->
                <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                    <!--begin::Title-->
                    <h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1">Audience List</h1>

                </div>

            </div>
            <!--end::Container-->
        </div>
        <!--end::Toolbar-->
        <!--begin::Post-->
        <div class="post d-flex flex-column-fluid" id="kt_post">
            <!--begin::Container-->
            <div id="kt_content_container" class="container-fluid">
                <div id="call-ringing"></div>
                <div class="row layout-top-spacing layout-spacing">
                    <div class="col-xl-12 col-lg-12 col-md-12" >
                        <div class="widget-content widget-content-area card">
                            <div class="card-header border-0 pt-6">
                                <!--begin::Card title-->

                                <div class="col-md-6 text-start">
                                    <!--begin::Search-->
                                    <div class="d-flex align-items-center position-relative my-1">
                                        <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                                        <span class="svg-icon svg-icon-1 position-absolute ms-6">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
														<rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
														<path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
													</svg>
												</span>
                                        <!--end::Svg Icon-->
                                        <input type="text" data-kt-customer-table-filter="search" id="search" class="form-control form-control-solid w-250px ps-15" placeholder="Search " />
                                    </div>
                                    <!--end::Search-->
                                </div>
                                <div class="col-md-6 text-end">
                                    <button type="button" class="btn btn-primary btn-sm" role="button" data-bs-toggle="modal" data-bs-target="#editExampleModal" >
                                        {#                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg>#}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"  viewBox="0 0 24 24" fill="currentColor"><path d="M13.9999 19.0001L5.00003 19.0002L5 17.0002L11.9999 17.0001L12 6.8283L8.05027 10.778L6.63606 9.36381L13 2.99985L19.364 9.36381L17.9498 10.778L14 6.82825L13.9999 19.0001Z"></path></svg>
                                        <span class="btn-text-inner">Add List</span>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">

                                <table id="table"  class="table table-hover table-row-dashed fs-6 gy-5 my-0 dataTable no-footer" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th> Id </th>
                                        <th>Name</th>
                                        <th>Type</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editExampleModal" tabindex="-1" aria-labelledby="editExampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered mw-650px">
            <div class="modal-content bg-white">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add List</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="btn-close"></button>
                </div>
                <div class="modal-body scroll-y mx-5 mx-xl-5 my-7">
                    <form  method="post" id="ListForm" enctype="multipart/form-data">
                        <div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_user_scroll"
                             data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}"
                             data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_user_header"
                             data-kt-scroll-wrappers="#kt_modal_add_user_scroll" data-kt-scroll-offset="300px"
                             style="max-height: 570px;">
                            <div class="fv-row mb-7 fv-plugins-icon-container">
                                <label class="form-label">Name</label>
                                <input type="text" class="form-control form-control-solid" name="name" id="name">
                            </div>
                            <div class="fv-row mb-7 fv-plugins-icon-container">
                                <div class="row row-cols-1 row-cols-md-2 g-5">
                                    <div class="col">
                                        <input type="radio" class="btn-check" name="list_type" value="email" id="kt_radio_buttons_2_option_1" checked="checked">
                                        <label class="btn btn-outline btn-outline-dashed btn-outline-default p-7 d-flex align-items-center h-100" for="kt_radio_buttons_2_option_1">
            <span class="svg-icon svg-icon-3hx svg-icon-primary">
                <!-- Interview Icon SVG -->
           <svg style="    height: 2.5rem !important;
    width: 2.5rem !important;" viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
            </span>
                                            <span class="d-block fw-bold text-start">
                <span class="text-dark fw-bolder d-block fs-3">Email</span>
            </span>
                                        </label>
                                    </div>
                                    <div class="col">
                                        <input type="radio" class="btn-check" name="list_type" value="phone" id="kt_radio_buttons_2_option_2">
                                        <label class="btn btn-outline btn-outline-dashed btn-outline-default p-7 d-flex align-items-center h-100" for="kt_radio_buttons_2_option_2">
            <span class="svg-icon svg-icon-3hx svg-icon-primary">
                <!-- Resource Icon SVG -->
               <svg style="    height: 2.5rem !important;
    width: 2.5rem !important;" viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>
            </span>
                                            <span class="d-block fw-bold text-start">
                <span class="text-dark fw-bolder d-block fs-3">Telephone No</span>
            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- Interviews Documents -->

                            <div class="fv-row mb-7 fv-plugins-icon-container">
                                <label class="form-label">Description</label>
                                <textarea class="form-control form-control-solid" id="des" name="des" placeholder="Description"></textarea>
                            </div>
                            <div class="fv-row mb-7 fv-plugins-icon-container">
                                <label for="upload_file" class="mb-2">Uploads <a href="{{ env.APP_URL }}/uploads/campaign_list.xlsx" download="{{ env.APP_URL }}/uploads/campaign_list.xlsx">Download Sample xlsx Now</a></label>
                                <div id="createInput"></div>
                            </div>
                        </div>

                        <div class="modal-footer justify-content-center">
                            <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" name="add_new" id="btn-profile" class="btn btn-primary" onclick="add_list()">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="commentModalLabel">Full Description</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="fullComment"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
              </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
    <script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script>
        $(document).ready(function () {
            var csrf_token = $("input[name=csrf]").val();
            var table = $('#table').dataTable({
                // "language": {
                //     processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only text-center">Loading...</span> '
                // },
                "responsive": true,
                // "bProcessing": true,
                "sAjaxSource": "/user/api?page_name=view_campaign_list&csrf="+csrf_token,
                "bPaginate": true,
                "sPaginationType": "full_numbers",
                "iDisplayLength": 10,
                "aoColumns": [
                    {mData: 'ids'},
                    {mData: 'name'},
                    {mData: 'userType'},
                    {mData: 'action'},
                ]
            });
            $('#search').on('keyup', function() {
                $('#table').DataTable().search(this.value).draw();
            });
        });
        //Delete Data
        function deleteUser(deleteid) {
            var el = this;
            $(this).prop("disabled", true);
// add spinner to button
            $(this).html('<i class="fa fa-circle-o-notch fa-spin"></i> loading...');
            var csrf_token = $("input[name=csrf]").val();
            $.ajax({
                url: '/user/api',
                type: 'GET', data: {
                    id: deleteid,
                    page_name: "delete",
                    table_name: "campaign_list",
                    csrf: csrf_token
                }, success: function (data) {
                    $('#table').DataTable().ajax.reload(null, false);
                    $(el).closest("tr").fadeOut();
                    toastr.clear();
                    if (data == 1) {
                        toastr.success('Successfully deleted.');
                        $(el).closest("tr").fadeOut();
                        $('#table').DataTable().ajax.reload(null, false);
                    } else {
                        toastr.error('Something went wrong.');

                    }
                }
            });
        }
        //Update  Data
        document.addEventListener('DOMContentLoaded', function () {
            FilePond.registerPlugin(
                FilePondPluginFileValidateSize,
                FilePondPluginFileValidateType,
                FilePondPluginImagePreview,
            );

            const pond = FilePond.create(document.getElementById('createInput'), {
                allowMultiple: false,
                maxFiles: 1,
                labelIdle: 'Drag & Drop your Excel file or <span class="filepond--label-action">Browse</span>',
                maxFileSize: '105MB',
                acceptedFileTypes: ['application/vnd.ms-excel', 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'], // Accepts .xls and .xlsx
            });
            // Insert Data
            window.add_list = function() {
                document.getElementById('btn-profile').disabled = true;
                var formData = new FormData(document.getElementById("ListForm"));
                const pondFiles = pond.getFiles();
                pondFiles.forEach(file => {
                    formData.append('file', file.file);
                });

                $.ajax({
                    url: "/user/campaign/list",
                    type: "POST",
                    data: formData,
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (data) {
                        document.getElementById('btn-profile').disabled = false;
                        console.log(data);
                        pond.removeFiles();
                        data= JSON.parse(data);

                        if(data == '1'){
                            $('#editExampleModal').modal('hide');
                            document.getElementById("ListForm").reset();
                            $('#table').DataTable().ajax.reload(null, false);
                            toastr.success('Added Successfully');
                        } else if (data == '2'){
                            $('#table').DataTable().ajax.reload(null, false);
                            toastr.error("Please Login Again");
                        }else if (data == '3'){
                            toastr.success('Invalid file type. Only Excel files are allowed.');
                            $('#table').DataTable().ajax.reload(null, false);
                        } else if (data == '4'){
                            $('#table').DataTable().ajax.reload(null, false);
                        } else {
                            $('#editExampleModal').modal('hide');
                            document.getElementById("ListForm").reset();
                            $('#table').DataTable().ajax.reload(null, false);
                        }
                    }
                });
            }
        });
        $(document).ready(function(){
            $(document).on('click', '.see-more', function(e){
                e.preventDefault();
                var fullComment = $(this).data('description');
                $('#fullComment').text(fullComment);
                $('#commentModal').modal('show');
            });
        });
    </script>
{% endblock %}