6{% extends 'user/master_call.twig' %}
{% block content %}
    <style>
        .wrapper{
            padding-top: 50px !important;
            padding-left: unset !important;
        }
        .header {
            left: 0px !important;
        }
        /* Full height container for the meeting */
        #kt_content {
            padding: 0;
            height: 100vh;
            overflow: hidden;
        }

        /* Ensure the card body takes up full height */
        #kt_meeting_card .card-body {
            height: 100%;
            padding: 0;
            background-color: #f0f0f0; /* Optional background while the meeting loads */
        }

        /* For a seamless Jitsi iframe experience */
        #meet {
            height: 100%;
            width: 100%;
        }

        /* Mobile responsiveness */
        @media (max-width: 768px) {
            #kt_meeting_card .card-body {
                padding: 0;
            }
        }
    </style>
    <!--begin::Content-->
    <div class="d-flex flex-column flex-column-fluid" >
        <div class="card card-flush h-lg-100" id="kt_meeting_card">
            <div class="card-body p-0" id="meet" style="height: 100%; width: 100%;"></div>
        </div>
    </div>
    <!--end::Content-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src='https://meet.techneketax.com/external_api.js'></script>
    <script>
        function StartMeeting(meeting_name, room_name, user_name, user_email, user_image_url){
            const domain = 'meet.techneketax.com';

            const tool_bar_buttons = ['microphone', 'camera', 'desktop', 'profile', 'settings', 'raisehand', 'videoquality', 'hangup'];

            const options = {
                roomName: room_name,
                width: '100%',
                height: '100%',
                parentNode: document.querySelector('#meet'),
                userInfo: {
                    displayName: user_name,
                    email: user_email
                },
                configOverwrite:{
                    doNotStoreRoom: true,
                    startVideoMuted: 0,
                    startWithVideoMuted: true,
                    startWithAudioMuted: false,
                    enableWelcomePage: false,
                    prejoinPageEnabled: false,
                    disableRemoteMute: true,
                    remoteVideoMenu: {
                        disableKick: true
                    },
                    desktopSharingChromeExtId: null, // Extension ID for Chrome
                    desktopSharingChromeDisabled: false,
                    desktopSharingChromeSources: ['screen', 'window', 'tab'],
                    desktopSharingFirefoxExtId: null, // Extension ID for Firefox
                    desktopSharingFirefoxDisabled: false,
                    desktopSharingFrameRate: {
                        min: 5,
                        max: 30
                    }
                },
                interfaceConfigOverwrite: {
                    filmStripOnly: false,
                    SHOW_JITSI_WATERMARK: false,
                    SHOW_WATERMARK_FOR_GUESTS: false,
                    DEFAULT_REMOTE_DISPLAY_NAME: 'New User',
                    TOOLBAR_BUTTONS: tool_bar_buttons
                },
                onload: function () {
                    //alert('loaded');
                    // $('#toolbox').show();
                }
            };
            const apiObj = new JitsiMeetExternalAPI(domain, options);
            apiObj.executeCommand('subject', meeting_name);
            apiObj.addEventListeners({
                readyToClose: function () {
                    $('#meet').empty();
                },
                participantJoined: function(data){
                    console.log('participantJoined', data);
                    apiObj.executeCommand('subject', meeting_name);
                },
                participantLeft: function(data){
                    console.log('participantLeft', data);
                }
            });
            apiObj.executeCommand('avatarUrl', user_image_url);
        }

        const meeting_name = '{{ meet.title }}';
        const room_name = '{{ meet.jitsi_link }}';
        const user_name = '{{ loginName }}';
        const user_email = '{{ userEmail }}';
        const user_image = 'https://avatar.iran.liara.run/username?username='+user_name;

        StartMeeting(meeting_name, room_name, user_name, user_email, user_image);
    </script>
{% endblock %}
