{% extends 'admin/master.twig' %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ env.APP_URL }}assets/dashboard/src/plugins/src/tagify/tagify.css">
    <link rel="stylesheet" type="text/css" href="{{ env.APP_URL }}assets/dashboard/src/plugins/css/light/tagify/custom-tagify.css">
    <div id="content" class="main-content">
        <div class="layout-px-spacing">

            <div class="middle-content container-xxl p-0">

                <!-- BREADCRUMB -->
                <div class="page-meta">
                    <nav class="breadcrumb-style-one" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            {#                <li class="breadcrumb-item"><a href="#">Users</a></li>#}
                            <li class="breadcrumb-item active" aria-current="page">Add Plan</li>
                        </ol>
                    </nav>
                </div>
                <!-- /BREADCRUMB -->


                <div class="account-settings-container layout-top-spacing">
                    <div class="content-body">
                        <div class="container-fluid">
                            <!-- row -->
                            <div class="row">

                                <div class="col-xl-12 col-lg-12">
                                    <div id="ErrorMessage"></div>
                                    <div class="card  card-bx m-b30">
                                        <div class="card-header">
                                            <h6 class="title">Add Plan</h6>
                                        </div>
                                        <form method="post" id="AddPlansForm" class="profile-form">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-6 mb-2">
                                                        <label class="form-label">Name</label>
                                                        <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                                                        <input type="hidden" name="csrf" value="{{ csrf }}">
                                                    </div>
                                                    <div class="col-sm-6 mb-2">
                                                        <label for="tags">Tags:</label>
                                                        <input name='basic' id="tags" value=''>
                                                    </div>
                                                    <div class="col-lg-12 mt-2 mb-2">
                                                        <button class="btn btn-success" type="button" onclick="addKey_points();" style="float: right; background: #28a745 !important; border-color: #28a745 !important;">ADD <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                                                    </div>
                                                    <div class="col-sm-12 mb-2">
                                                        <label class="form-label">Key Points</label>
                                                        <input type="text" class="form-control" id="key_points" name="key_points[]" placeholder="Add Key Point">
                                                    </div>

                                                    <div class="col-sm-12 mb-2">
                                                    <div id="addKey_points">

                                                    </div>
                                                    </div>
                                                    <div class="col-sm-12 mb-2">
                                                        <label class="form-label">Discount (%)</label>
                                                        <input type="number" class="form-control" id="percentage" min="0" name="percentage" placeholder="Discount (%)" value="0">
                                                    </div>
                                                    <div class="col-sm-6 mb-2">
                                                        <label class="form-label">Monthly Price</label>
                                                        <input type="number" class="form-control" id="monthly_price" min="0" name="monthly_price" placeholder="Monthly Price">
                                                    </div>
                                                    <div class="col-sm-6 mb-2">
                                                        <label class="form-label">Yearly Price</label>
                                                        <input type="number" class="form-control" id="yearly_price" min="0" name="yearly_price" placeholder="Yearly Price">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <button type="button" class="btn btn-secondary" id="btn" onclick="add_plan()">ADD</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>   </div>

        <!--  BEGIN FOOTER  -->
        <div class="footer-wrapper">
            <div class="footer-wrapper">
                <div class="footer-section f-section-1">
                    <p class="">Copyright © <span class="dynamic-year">2024</span> <a target="_blank" href="https://zotecsoft.com/">ZotecSoft</a>, All rights reserved.</p>
                </div>
            </div>
        </div>
        <!--  END FOOTER  -->
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tagify/4.27.0/tagify.min.js" integrity="sha512-RZnh1b5EBFnw6IaiqEhT0dQy+dCbeC6ZybZY/CkMlk2OW8Eyj20/t8Js3Ka1Ot/sQIVL20N81p7FRQvloTZgtw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>

        var input = document.querySelector('input[name=basic]');
        new Tagify(input)
        function add_plan() {
            document.getElementById('btn').disabled = true;
            var tags = input.value;
            // console.log(tags);
            var formData = new FormData(document.getElementById("AddPlansForm"));
             formData.set('basic', tags);
            $.ajax({
                url: "/admin/add_plan",
                type: "POST",
                data: formData,
                contentType: false,
                cache: false,
                processData: false,
                success: function (dataResult) {
                    console.log(dataResult);
                    if (dataResult == 1) {
                        document.getElementById('btn').disabled = false;
                        toastr.success('Add Successfully.');
                        document.getElementById("AddPlansForm").reset();
                        location.href = '/admin/plans'
                    } else if (dataResult == 2) {
                        toastr.error("Please Fill all the required Fields");
                        document.getElementById('btn').disabled = false;
                    } else {
                        toastr.error('Something Went Wrong.');
                        document.getElementById('btn').disabled = false;
                    }
                }
            });
        }

    </script>
    <script>


        var room = 1;
        function addKey_points() {
            room++;
            var objTo = document.getElementById('addKey_points')
            var divtest = document.createElement("div");
            divtest.setAttribute("class", "form-group row removeclass"+room);
            var rdiv = 'removeclass'+room;

            divtest.innerHTML = ' <div class="col-sm-10 mt-2"><input type="text" class="form-control" id="key_points" name="key_points[]" placeholder="Add Key Point"></div><div class="col-sm-2 "><button class="btn btn-danger mt-3 mb-2" type="button" onclick="remove_Key_points('+ room +');" style="float: right; background: #dc3545 !important; border-color: #dc3545 !important;">DELETE <span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button></div>';
            objTo.appendChild(divtest)
        }
        // children remove fields
        function remove_Key_points(rid) {
            $('.removeclass'+rid).remove();
        }


    </script>
{% endblock %}